/** body **/
body {
	font-size: 16px;
	font-family: 'Lora', serif;
}

#header-nav {
	background-color: grey;
	border: 0;
	border-radius: 0;
}

.navbar-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-brand div {
	color: orange;
	font-size: 32px;
}

.navbar-default .navbar-nav>li>a {
	color: orange;
}
.navbar-default .navbar-nav>li>a:hover {
	color: black;
}

li.visible-xs div {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.3em;
}

/** End of Header */

.col-md-4 section {
	position: relative;
	margin-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	background-color: grey;
}

.row section {
	font-family: 'Overlock SC', cursive;
}

p a {
	color: orange;
}

p a:hover {
	color: black;
}

.menu-title {
	text-align: center;
	padding-top: 5px;
	margin-bottom: 10px;
}

#menu-detail {
	padding-top: 5px;
}

.navbar-toggle {
	margin-top: 15px;
}
.navbar-default .navbar-toggle {
	border: 2px solid black;
}
.navbar-default .navbar-toggle .icon-bar  {
	background-color: orange;
}

/*** Media Query **/
@media (max-width: 767px) {

}